@import url('antd.min.css');
@import url('boostrap.min.css');
body {
    background: #ffffff
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    margin: 16px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
}

.login-form {
    max-width: 500px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}